
CONFIG_TARGET_ipq60xx=y

# 无WiFi
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_wpad=n
CONFIG_PACKAGE_hostapd=n

# Passwall
CONFIG_PACKAGE_luci-app-passwall=n

# MosDNS
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_mosdns=y

# Lucky
CONFIG_PACKAGE_luci-app-lucky=y


CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
